#payment input,
#payment button,
#payment textarea {
  background-color: #1b3e57;
}

#payment *:focus {
  outline-color: #141414 !important;
  color: rgb(117, 204, 181);
}

#payment *{
  color: rgb(185, 247, 230);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#payment-loading-skeleton {
  filter: invert(34%) sepia(86%) saturate(6781%) hue-rotate(267deg)
    brightness(97%) contrast(115%);
  animation: loading 0.3s ease-in-out 0s 3 normal forwards;
  align-self: center;
}
#opacity-payment {
  z-index: 3;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 80%;
  width: 100vw;
  height: 100vh;
}
#payment {
  color: rgb(77, 99, 93);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: inherit;
  z-index: 4;
  overflow-y: scroll;
  display: grid;
  grid-column: auto;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#payment h2 {
  margin-bottom: 20px;
}
#payment p {
  margin-bottom: 10px;
}

#payment input[type="radio"] {
  width: 16px;
  height: 16px;
}

#payment label,
#payment p,
#payment input[type="text"],
#payment input[type="number"],
#payment input[type="textarea"] {
  font-size: 1.1em;
}

#payment > *:not(#payment-loading-skeleton, #thankYou) {
  left: 0px;
  font-size: 1.1em;
  bottom: 0px;
  flex-direction: column;
  background-color: #141414;
  width: fit-content;
  max-width: 700px;
  height: fit-content;
  padding: 20px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
}

#payment > *:not(#payment-loading-skeleton, #thankYou) > input[type="submit"] {
  margin-top: 20px;
}
#payment > *:not(#payment-loading-skeleton, #thankYou) > input[type="submit"],
#payment > *:not(#payment-loading-skeleton, #thankYou) > button {
  height: 40px;
  font-size: 1.1em;
}

#formChooseDeliveryMethod,
#formConfirmHomeDelivery,
#formPaymentMethod,
#SelectCreditCardInstallments {
  align-self: center;
}

#formConfirmPurchase > div {
  border-bottom: 1px solid rgb(117, 204, 181);
}

#formConfirmPurchase .payment-product-item {
  display: grid;
  border: 1px rgb(117, 204, 181) solid;
  margin-bottom: 10px;
}

#formConfirmPurchase .payment-product-item > * {
  margin: 6px;
}
