/*Modal-boot*/
.contenedor-btn-boot {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 15px;
  height: 100px;
}

.btn-ayuda {
  background-color: #d6eaf8;
  border: none;
  cursor: pointer;
}
.btn-ayuda > img {
  width: 50px;
}
.text {
  display: none;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0;
}
.btn-ayuda:hover .text {
  display: block;
  clip-path: polygon(
    0 23%,
    100% 23%,
    100% 75%,
    59% 75%,
    49% 100%,
    38% 75%,
    0% 75%
  );
  color: white;
  background-color: #34343f;
  padding: 12px;
}

.modal-boot {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fija la posición */
  z-index: 1; /* Asegura que esté encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite el scroll si el contenido es muy grande */
  background-color: #111111bd; /* Fondo semitransparente */
}

.modal-boot-content {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
}

.close-modal-boot {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-boot:hover,
.close-modal-boot:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*fin modal*/
#verde {
  color: green;
}
.chat-card {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #212121;
  overflow: hidden;
}

.chat-header {
  padding: 10px;
  background-color: #b6a0fe;
  display: flex;
  align-items: center;
}

.chat-header .h2 {
  font-size: 16px;
  color: #333;
}

.chat-body {
  padding: 20px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.incoming {
  background-color: #e1e1e1;
}
.outgoing {
  background-color: #f2f2f2;
  text-align: right;
}

.message p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.chat-footer {
  padding: 10px;
  background-color: #212121;
  display: flex;
}

/*input*/
.Message {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #40414f;
  transform: translate(0px, 0px);
  box-shadow: 5px 5px #34343f;
}

.MsgInput {
  font-size: 12px;
  border-radius: 5px;
  background-color: #40414f;
  border: none;
  outline: none;
  width: 85%;
  height: 0px;
  transform: translate(5px, -1px);
  color: white;
  padding: 10px;
  font-weight: normal;
}

.SendSVG {
  width: 30px;
  height: 20px;
  border-width: 50px;
  transform: translate(35px, 5px);
  background-size: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.SendSVG:hover {
  background-color: #2b2b35;
  cursor: pointer;
}

.l {
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #2e2f38;
  transform: translate(-20px, 0px);
}

/**/
@keyframes chatAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-card .message {
  animation: chatAnimation 0.3s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}

.chat-card .message:nth-child(even) {
  animation-delay: 0.2s;
}

.chat-card .message:nth-child(odd) {
  animation-delay: 0.3s;
}

@media (max-width: 999px) {
  .SendSVG {
    transform: translate(20px, 5px);
  }
}
@media (max-width: 800px) {
  .SendSVG {
    transform: translate(10px, 5px);
  }
  .MsgInput {
    width: 80%;
  }
  .l {
    transform: translate(-30px, 0px);
  }
}
@media (max-width: 600px) {
  .MsgInput {
    width: 75%;
  }
}
@media (max-width: 440px) {
  .MsgInput {
    width: 70%;
  }
}
