.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
}
.modal-show {
  opacity: 1;
  pointer-events: unset;
  z-index: 3;
  margin: 0px;
  overflow: scroll;
}
.modal-container {
  margin: auto;
  text-align: center;
  width: 90%;
  background-color: #202036;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}
.modal-titulo {
  font-size: 2.5rem;
  color: #fff;
}
.modal-parrafo {
  margin-bottom: 18px;
  color: #fff;
}
.cerrar-modal {
  text-decoration: none;
  color: #fff;
  background-color: hsla(251, 100%, 50%, 0.87);
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}

.cerrar-modal:hover {
  background-color: blue;
}
