:root {
  --blanco: #fff;
  --celeste-claro: #d6eaf8;
  --azul-oscuro: #161623;
  --verde-rana: #rgba(0, 255, 0, 0.8);
  --verde-nafta: #54d17a;
  --gris-oscuro: rgba(255, 255, 255, 0.1);
  --gris-claro: rgba(255, 255, 255, 0.5);
}

.oculto {
  display: none !important;
}
.pmz {
  padding: 0px;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Orbitron, Roboto Mono, sans-serif;
  background: #161623;
}
.nav {
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  line-height: 70px;
  background: #d6eaf8;
  width: 100%;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  clear: right; /* 3 */
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}
.menu a:hover {
  cursor: pointer;
  color: rgba(0, 255, 0, 0.8);
}
span {
  color: #54d17a;
}
label {
  margin: 0 40px 0 0; /*margin: 10px 3px 30px 5px; 10px arriba, 3px derecha, 30px abajo, 5px izquierda */
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}
.compras {
  font-size: 1.8rem;
}
.titulo {
  text-align: center;
  margin-bottom: 0;
}
.contenedor-productos {
  margin: 80px 10px 15px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

@media only screen and (max-width: 700px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 16px;
  }
  span {
    color: white;
    font-weight: 900; /*2*/
    font-size: 16px;
  }
  #toggle:checked + .menu {
    /* asocia el checked al menu*/
    display: block;
  }
}
@media only screen and (max-width: 610px) {
  section {
    display: none;
  }
  .card {
    display: none;
  }
}
/*Quienes Somos*/
.modal-quienes-somos {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fija la posición */
  z-index: 1; /* Asegura que esté encima de otros elementos */
  left: 50px;
  top: 0;
  width: 92%;
  height: 100%;
  overflow: auto; /* Permite el scroll si el contenido es muy grande */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
}

.modal-content {
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  height: 100%;
}
.modal-content > article {
  width: 100%;
  margin-top: 10px;
  box-shadow: 6px 6px 50px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  font-size: 1rem;
  padding: 25px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer-strong {
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .modal-quienes-somos {
    left: 12px;
  }
}
